{% extends "layout.html" %}
{% block cb %}
    <div class="content-section">
        <form method="POST" action="">
                <div class="form-group">
                    <h5>Click here to update Crunchbase data</h5>
                    {{ form.update(class="btn btn-outline-info") }}
                </div>
                <div class="form-group">
                    <h5>Click here to download Crunchbase data</h5>
                    {{ form.download(class="btn btn-outline-info") }}
                </div>
        </form>
    </div>
{% endblock cb %}
